Exercise 2 - Create a markdown cell with the title of the notebook.
# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)
# In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
### Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>TensorFlow</li>
    <li>Pandas</li>
    <li>SciKit-Learn</li>
    <li>NumPy</li>
    <li>Pipenv</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>SciPy</li>

</ol>

#### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
Data Science Tools:

| Data Science Tools |
| :---               |
| Python             |
| Hadoop             |
| Jupyter Notebook   |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# Arithmetic operations
code1 = compile("222 + 23", "<string>", "eval")
eval(code1)
# Result: 245

245

In [14]:
code2 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code2)
# Result: 24

24

In [15]:
import math
# Volume of a sphere
code3 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code3)
# Result: 65449.84694978735

65449.84694978735

##### Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5
# Result: 17

17

##### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [22]:
# This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 0 days, 3.3333333333333335 hours, 0 mins

0 days, 3.3333333333333335 hours, 0 mins.

##### Exercise 10 -Insert a markdown cell to list Objectives.

## Objectives:

List popular languages for Data Science:
<ul>
    <li>RFlow</li>
    <li>Python</li>
    <li>SciKit-Learn</li>
    <li>NumPy</li>
    <li>Pipenv</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>SciPy</li>

</ul>

##### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author:
Tochukwu Joseph Ugoala